.text-wrapper {
  width: 48%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

.text-wrapper .text-display {
  width: 100%;
  min-height: 50vh;
  border: 1px;
  border-style: solid;
  white-space: pre-wrap;
}

.delta-red {
  color: red;
}

.delta-green {
  color: green;
}
